* {
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div#app {
  min-height: 100%;
  position: relative;
  padding-bottom: 296px;
}

@media (min-width: 768px) {
  div#app {
    padding-bottom: 192px;
  }
}